.container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  border-bottom: 1px solid #ddd;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  color: #0097a7;
}

.navigatsiya {
  display: flex;
  gap: 40px;
}

.navigatsiya a {
  text-decoration: none;
  color: #777;
  font-size: 18px;
}

.navigatsiya a:hover {
  color: #0097a7;
}

.hero {
  background-image: url("../images/hero.jpg");
  height: 260px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qidiruv-boxi {
  display: flex;
  width: 600px;
  height: 50px;
}

.qidiruv-boxi input {
  flex: 1;
  border: none;
  padding: 0 15px;
  font-size: 18px;
}

.qidiruv-boxi button {
  width: 60px;
  border: none;
  background: #0097a7;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.content {
  padding: 60px;
}

.section-title {
  font-size: 32px;
  color: #0097a7;
  margin-bottom: 40px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  display: flex;
  ;

}

.card img {
  width: 100%;
  display: block;
}

.card-info {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: #888;
  font-size: 14px;
}

.gallery1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  display: flex;
}  


.footer{
display: flex;
justify-content: space-around;
width: 100%;
height: 400px;
background-color: rgba(128, 128, 128, 0.3);
}

.about h2 {
  color: #0aa;              
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 60px;
  margin-left: 50px;
}

.about p {
  color: rgba(0, 0, 0, 0.55);  
  font-size: 20px;
  line-height: 1.7;
}








